/* Asterisk wildcard selector to override default styles added by the brower */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #545454;
}

/* Header */
header {
    background-color: #d99f38;
}
main {
/* Main content */    
    background-color: #f5ebdd;
    /* Make main element to take up any surplus space to push footer down */
    flex: 1 0 auto
}
/* Footer */
footer {
    background-color: #b8571d;
}